$o-grid-is-silent:  false;
@import 'o-fonts/main';
@import 'o-colors/main';
@import "o-assets/main";

@include oAssetsSetModulePaths((
  'o-footer': '//build.origami.ft.com/files/o-footer@^3.1.0'
));

@import 'o-grid/main';
@import 'o-footer/main';

@import 'fonts';

$o-grid-gutter: 20px;

body {

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
  @include oColorsFor(page, background);
}

main p,
.market__text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 600px;
  margin: 0.75em auto;
  font-weight: 200;
  color: #333333;

}

.market__text {
  margin: 0;
}

#ft-header {
  height: 50px;
  // background-color:  $ft-color-lightpink;
  width: 100%;
  // position:  fixed;
  // top:  0;
  // z-index:  50;
  // overflow:  hidden;
  text-align: center;
  border-bottom: 1px solid #cec6b9;
  // box-shadow:  0 2px 2px 0 rgba(0,0,0,.1);
  
  a > img {
    margin-top: 13px;
    opacity: 0.8;
    transition: opacity 0.3s;
    border: 0;
  }
  a > img:hover {
    opacity: 1;
  }
}

.content-holder {
  counter-reset: sections;
  > h1 {
    font-family: FinancierDisplayWeb;
    font-weight: normal;
    text-align: center;
    font-size: 2.25em;
    margin: 1.2rem 0;
  }

  > p:first-of-type {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-family: FinancierDisplayWeb;
    font-size: 1.2em;
    line-height: 1.35em;
    margin-bottom: 1em;
    color: oColorsGetPaletteColor('grey-tint5');
  }

  > h6 {
    max-width: 600px;
    margin: 0 auto;
    color: oColorsGetPaletteColor('pink-tint5');
    font-weight: 200;
    text-align: center;
    margin-top: -4px;
    font-size: 0.875em;
  }

  > h3 {
    text-align: center;
    font-family: FinancierDisplayWeb;
    font-style: italic;
    font-size: 3em;
    letter-spacing: 0.02em;
    color: #9e2f50;
  }
  
  > h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #333333;
  }

  > h2 {
    font-size: 1.5em;
    margin: 1.7em 0 0.4em;

    text-align: center;
    color: #333333;
    font-weight: 600;
  
    &:before {
      display: block;
      background-size: 200px 60px;
      background-repeat: no-repeat;
      background-position: center center;
      height: 50px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27200%27%20height%3D%2760%27%20viewBox%3D%270%200%20200%2060%27%3E%3Cpath%20fill%3D%27%23CEC6B9%27%20d%3D%27M0%2030h200v1H0z%27%2F%3E%3Ccircle%20fill%3D%27%23FFF1E0%27%20cx%3D%27100.2%27%20cy%3D%2730%27%20r%3D%2730%27%2F%3E%3Ccircle%20fill%3D%27%23FFF1E0%27%20stroke%3D%27%23CEC6B9%27%20stroke-miterlimit%3D%2710%27%20cx%3D%27100.2%27%20cy%3D%2730%27%20r%3D%2720%27%2F%3E%3C%2Fsvg%3E");
      text-align: center;
      line-height: 50px;
      font-family: FinancierDisplay;
      font-weight: normal;
      color: #9e2f50;
      margin-bottom: 12px;
      font-size: 1.75rem;
      content: counter(sections);
      counter-increment: sections;
    }
  }
  > ul {
    max-width: 600px;
    margin: 1.5em auto;
    padding: 10px 10px 10px 40px;
    border-top: 1px solid oColorsGetPaletteColor('pink-tint4');
    border-bottom: 1px solid oColorsGetPaletteColor('pink-tint4');
    box-sizing: border-box;

    > li {
      list-style: list-item;
      margin-bottom: 10px;
      color: oColorsGetPaletteColor('grey-tint3');
      font-size: 1.1rem;
      line-height: 1.4em;
      font-weight: 200;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.o-grid-row {
  margin-bottom: 1.5em;
}


.content-holder { @include oGridColumn((default: 12)); padding: 0 5px;}
.lshow { @include oGridColumn((default: hide, L: 12, XL: 12)); }
.mshow { @include oGridColumn((default:  hide, M:  12, L:  hide)); }
.mlxlshow { @include oGridColumn((default:  hide, S: 12, M: 10, XL: 8)); ; @include oGridCenter;}
.smuggling-mlxlshow { @include oGridColumn((default:  hide, M: 12, L: 10, XL: 8)); ; @include oGridCenter;}
.sshow { @include oGridColumn((default:  hide, S: 12, M: hide));}
.smshow { @include oGridColumn((default:  hide, S: 12, L: hide));}
.defaultshow { @include oGridColumn((default: 12, S: hide)); }
.showall { @include oGridColumn((default: 12)); }
// [data-map='closeup'] .showall, [data-map='smuggling'] .showall { @include oGridColumn((default: 12, M:10, L:8)); @include oGridCenter;}

.left {
  @include oGridColumn((default: 12, S: 7, M: 6, L: 4)); 
  @include oGridRespondTo(L) {
    @include oGridPush(2); // outputs left: -33.333333333%;
  }
}

.xlshow,
.lshow,
.mshow,
.sshow,
.smshow,
.defaultshow,
.mlxlshow,
.left {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  padding: 0 5px
}

.market__text {
  position: relative;
  top: -8px;  
  margin-bottom: 1em;
}

.rebels,
.isis,
.isis-refineries,
.mosul{
  @include oGridColumn((default: 12, S: 5, M: 6, L: 4));
  @include oGridRespondTo(L) {
    @include oGridPush(2); // outputs left: -33.333333333%;
  }
  padding: 0 5px;
}
.rebels,
.isis,
.mosul {
  > div:first-of-type {
    font-weight: 600;
    margin-bottom: 0;
  }
}
// [data-map] {
//   > .mshow-xlshow {
//     max-width: 800px;
//   }
// }

.mshow-xlshow {
    max-width: 800px;
}

.refineriesHolder {
  @include oGridColumn((default: 12));
  @include oGridCenter;
}

#ig-isis-refineries-all,
[data-map="rebel-market"],
[data-map="mosul-market"],
[data-map="isis-market"],
[data-map="smuggling"], {
  margin: 1.5em 0;
}

[data-map="rebel-market"] {
  margin-bottom: 0;
}

.smuggling-icon {
  width: 50px;
  float: left;
  margin-right: 5px;
}

.o-grid-row {
  margin-bottom: 0.5em;
}

@include oGridRespondTo(L) {
  .content-holder {
    > h1 {
      font-size: 3.75em;
      margin: 1.6rem 0;
    }
    > p:first-of-type {
      font-family: FinancierTextWeb;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
 @include oGridRespondTo($from: M, $until: L) {
  .content-holder {
    > h1 {
      font-size: 3.25em;
    }
    > p:first-of-type {
      font-size: 1.33em;
      line-height: 1.5em;
    }
  }
}

@include oGridRespondTo($from: S) {
  .content-holder {

    > h2 {
      margin: 1.75em 0 0.67em;
      font-size: 1.75em;
    }
    > h6 {
      font-size: 1em;
    }
  }
  #ig-isis-refineries-all {
    margin: 0;
  }
  main p,
  .market__text {
    font-size: 1.25em;
    line-height: 1.875rem;
  }

}

@include oGridRespondTo(M) {  
  .content-holder > h2:before {
    font-size: 2rem;
  }
  .stories__story--container {
    max-width: 167px;
  }
  .stories__story--image {
    float: left;
    margin-right: 0.5em;
    width: 167px;
    img {
      width: 100%;
    }
  }
}
@include oGridRespondTo($from: S, $until: M) {
  .content-holder {
    > h1 {
      font-size: 3em;
    }
   > p:first-of-type {
      font-size: 1.25em;
      line-height: 1.5em;
    }
  }
}

.stories__heading {
  font-size: 1.25em;
  font-weight: 200;
  padding-bottom: 4px;
}

.stories__container {
  background-color: oColorsGetPaletteColor('pink-tint1');
  padding: 0 10px;
  border-top: 1px solid oColorsGetPaletteColor('pink-tint3');
  margin-bottom: 1em;
}

.stories__story--container {
  padding: 10px 0;
  a {
    text-decoration: none;
    color: #2e6e9e;
  }
}

.stories__story--headline {
  margin-bottom: 6px;
}

.stories__story--image {
  float: left;
  margin-right: 0.3em;
  margin-bottom: 0.2em;
  img {
    width: 100px;
  }
}

.stories__story--blurb {
  color: oColorsGetPaletteColor('grey-tint4');
  font-size: 0.9em;
  line-height: 1.3em;
  position: relative;
  top: -4px;
}

#byline {
  font-family: MetricWeb;
  font-size: 14px;
  font-weight: 200;
  color: #74736c;
  margin: 0 auto;
  margin-top: 2rem;
  border-top: 1px solid oColorsGetPaletteColor('pink-tint3');
  padding-top: 8px;

  div {
    margin-bottom: 4px;
  }

  .by,
  .source {
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: #2e6e9e;
    transition: color 0.3s;
  }
  a:hover {
    color: #000000;
    transition: color 0s;
  }
}

.o-footer {
  border-top: 0;
}

.o-footer__pearson {
  background-color: oColorsGetPaletteColor('pink-tint3');
}
